html{
	box-sizing:border-box;
}
body{
	box-sizing:border-box;
}
.App {
  max-width:1000px;
  width:100%;
  border:2px solid #E0E0E0;
  margin:0 auto;
  margin-top:5%;
  background-color:#9ED08F;
  color:#F7C83C;
  border-radius:30px;
  padding:3%;
}
.nav-bar-container{

}
.upper-half-container{
	margin-top:30px;
	border:1px solid black;
	display:flex;
	justify-content:space-between;
	height:400px;
}
.lower-half-container{
	border:1px solid black;
	margin-top:30px;
	display:flex;
	justify-content:space-between;
	height:100px;
}


.controls-container{
  border:1px solid green;
}

/* button{
  box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
button:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.button:active {
	position:relative;
	top:1px;
} */

.chatdiv{
  display:flex;
  align-items: flex-end;
  width:50%;
  justify-content:flex-end
}
.game-subtitle{
	background-color:#EEEE99;
	color:#7B5921;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:-10px;
	width:40%;
	text-align:center;
	font-weight:600;
	border-radius:30px;
	margin-bottom:0;
}
.nav-container{
	/* border:1px solid blue; */
	padding:0;
}
.nav-title{
	margin-top:0;
	margin-bottom:0;
	background-color:#946B28;
	font-size:4rem;
	width:55%;
	padding:10px 30px;
	text-align:center;
	border-radius:10px;
	border:2px solid #F6F2E6;
}
.game-visual-container{
	background-color:#F6F2E6;
	width:65%;
	border-radius:10px;
	border:1px solid #E0E0E0;
}
.game-container{
	background-color:#F6F2E6;
	width:32%;
	display:flex;
	border-radius:10px;
	display:flex;
	align-items:center;
	flex-direction:column;
}

.game-button-container{
	/* border:1px solid red; */
	display:flex;
	box-sizing:border-box;
	width:100%;
	padding-left:13px;
	padding-right:13px;
	justify-content:space-between;
}
.inventory-container{
	background-color:#F6F2E6;
	width:65%;
	border-radius:10px;
	border:1px solid #E0E0E0;
}
.history-container{
	background-color:#F6F2E6;
	width:32%;
	border-radius:10px;
	border:1px solid #E0E0E0;
}
.game-button{
	padding:15px 18px;
	border:none;
	text-align:center;
	border-radius:50%;
	font-size:1.5rem;
}
.north{
	background-color:#83E0B9;
}
.west{
	background-color:#9CDCE5;
}
.south{
	background-color:#EE9DB2;
}
.east{
	background-color:#BC81EF;
}